#banner {
	width: 100%;
	

} 
body {
	background: #000000;
	margin: 0;
	padding: 0;
	
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;	
	font-size: 50px;
	color: beige;
}

.texto {
	width: 90%;
	margin: auto;
}

p {
	
	text-align: center;
	font-size: 30px;
	color: beige;
}

.conteiner-pai {
	display: flex;
	height: 100%;
	width: auto;
}

.conteiner-filho {
	margin: auto;
	
}

li {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

