#banner {
	width: 100%;
	

} 
body {
	background: #000000;
	margin: 0;
	padding: 0;
	
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;	
	font-size: 50px;
	color: beige;
}

#fundo {
	color: blueviolet;
}

.texto {
	width: 90%;
	margin: auto;
}

p {
	
	text-align: center;
	font-size: 30px;
	color: beige;
}



li {
	color: beige;
	font-size: 25px;
}

